<h1>Comfirmación participación en concurso de voces</h1>
<h2>Hola <%= @voce.nombres %> </h2>
<p>
    Hemos recibido tu solicitud de participar en el concurso de voces y la grabación que subiste a nuestro sistema el <%= @voce.created_at %> ya se encuentra disponible para que todos los interesados puedan escucharla %>
</p>

<p>
    Muy pronto nuestro equipo evaluador revisará tu propuesta y al final del concurso se publicará el resultado
</p>

<p>
    Si eres seleccionado, recibirás un correo a tu dirección <%= @voce.email %>  con instrucciones para continuar con el proceso de selección
</p>

<p>
    Cordialmente,
</p>
<p>
    Cloud grupo12
</p>
